
FLY-MongoDB/log4j.properties
FLY-MongoDB/src-gen/MongoDBLocalJS.java
FLY-MongoDB/src-gen/MongoDBFLYLocal.java
FLY-MongoDB/src-gen/connectionDatabase_cloud_deploy.sh
FLY-MongoDB/src-gen/connectionDatabase_cloud_undeploy.sh
FLY-MongoDB/src-gen/MongoDBAzure.java
FLY-MongoDB/src-gen/insertIntoDB_cloud_deploy.sh
FLY-MongoDB/src-gen/insertIntoDB_cloud_undeploy.sh
*.sh
*.txt
FLY-MongoDB/src-gen/MongoDBLocalScript.java
FLY-MongoDB/policyDocument.json
FLY-MongoDB/rolePolicyDocument.json
FLY-MongoDB/src-gen/MongoDBAws.java
FLY-MongoDB/src/main/fly/it/unisa/MongoDBLocalScript.fly
